.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    display: flex;
    border-radius: 5px;
    min-width: 80vw;
    max-width: 90vw;
    min-height: 70vh;
}
