.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}
.main-content {
    min-height: 53vh;
}

.line {
    width: 53px;
    height: 0;
    margin: 3px;
    display: inline-block;
}

.Alatsi {
    font-family: "Alatsi", Helvetica, sans-serif;
}

@media screen and (max-width: 500px) {
    .main-image {
        height: 375px;
        width: 350px !important;
        max-width: none;
        margin-left: -55px;
        object-fit: cover;
    }
}
